.toggle-order__button {
    margin: 0.5rem;
    height: 2.25rem;
    width: 10rem;
    background-color: #ffc671;
    /* background-color: #57d5a9ee; */
    color: white;
    border-radius: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 0.6rem .2rem rgba(0, 0, 0, 0.274);
}
#header-wrapper{
    margin-top: 2rem;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .hidden-600{
      display: inline;
  }
  .show-600{
      display: none;
  }

  @media only screen and ( max-width: 1400px ) {
    #tags, #user{
        width: 12rem;
    }
  }
  @media only screen and ( max-width: 1260px ) {
    #tags, #user{
        width: 9.5rem;
    }
  }
  @media only screen and (max-width: 1150px) {
    #tags, #user{
        width: 9.5rem;
    }
    #header-wrapper{
        width: 87vw;
    } 
  }
  @media only screen and (max-width: 1000px) {
     #sign-out-button{
         display: none;
     }
     #header-wrapper {
        justify-content: space-between !important;
    }
  }
  @media only screen and (max-width: 790px) {
      #tags, #user{
        width: 7.6rem;
    }
  }
  @media only screen and (max-width: 700px) {
      #header-wrapper {
          width: 95vw;
      }
  }
  @media only screen and (max-width: 650px) {
      #header-wrapper *{
          font-size: 0.6rem ;
      }
      #add-link-button{
          height: 2.25rem;
      }
      .link {
          font-size: 0.9rem;
      }
  }
  @media only screen and (max-width: 600px){
    .hidden-600{
        display: none;
    }
    .show-600{
        display: inline;
        font-size: 1.5rem !important;
        padding: 0 !important;
    }
    #add-link-button {
        width: 1.2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* margin: auto; */
        text-align: center;
    }
  }