*{
  overscroll-behavior: none;

}
.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  /* background-image: linear-gradient(10deg, #57d5a9ee 30%, #5587cce3 30%), url('./staff_01.jpeg'); */
  background-image: linear-gradient(357deg, #ffc671 6.5%, #5587cce3 6.6%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  overflow: scroll;
  text-transform: lowercase;
  display: flex;
  flex-direction: column;
  align-items: center;
}
*::-webkit-scrollbar{
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
button, select {
  cursor: pointer;
}
#nothing-to-see{
  margin-top: 40vh;
  color: white;
  font-size: 2rem;
}
.link {
  width: 80%;
  /* height: 3rem; */
  margin: 0.5rem auto 0.5rem auto;
  align-items: center;
  border-top: white solid 2px;
  border-bottom: white solid 2px;
  color: #ffffffee;
  font-weight: 600;
  display: grid;
  grid-template-columns: 1fr 1fr 10% 15% 1.5rem;
  transition: 0.2s ease all;
  grid-column-gap: 0.2rem;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.274));
  text-transform: capitalize;
}
.link:hover {
  background-color: rgba(0, 0, 0, 0.356);
  width: 81%;
}
.link a, a:visited {
  width: fit-content;
  color: #ffffffee;
  justify-self: center;
}
#link-wrapper{
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
#link-wrapper > ul {
  margin-block-start: 0 !important;
  padding-inline-start: 0 !important;
}
#filter__wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  width: 80vw;
  display: flex;
  height: 3rem;
  align-content: center;
  overflow-x: scroll !important;
  overflow-y: hidden;
  white-space: nowrap;
  flex-direction: row;
  scroll-snap-type: x mandatory;
  
}
#filter__wrapper > p {
  align-content: center;
  justify-content: space-around;
  color: white;
  width: inherit;
  position: absolute;
  width: 80vw;
  text-transform: capitalize;
}

.filter{
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  width: fit-content;
  /* height: 1.1rem; */
  /* background-color: #57d5a9ee; */
  background-color: #ffc671;
  color: white;
  border-radius: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 0.6rem .2rem rgba(0, 0, 0, 0.233);
  scroll-snap-align: start;
}
.delete-cross {
  cursor: pointer;
  color: rgb(70, 2, 2);
}

.button-hover {
  transition: 0.2s all ease;
}
.button-hover:hover{
  text-align: center;
  align-self: center;
  transform: scale(1.02);
  /* filter: brightness(90%); */
  color: rgb(58, 58, 58);
}
.link-date{
  font-size: 90%;
  color:rgb(255, 255, 255);
}

#create-signup-wrapper{
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 100vh;
  margin: auto;
  justify-content: center;
  align-items: center;
}
#create-signup-wrapper {
  width: 16rem;
}
#create-signup-wrapper * {
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  padding: unset;
}
#create-signup-wrapper > *:not(:last-child){
  margin-bottom: 1rem;
}
@media only screen and ( max-width: 1000px ) {
  #link-wrapper > ul {
    margin-block-start: 0 !important;
    padding-inline-start: 0 !important;
  }
  .link{
    grid-template-columns: 1fr 1fr 1fr 15%;
  }
}

@media only screen and ( max-width: 850px ) {
  .link{
    width: 95%;
    /* font-size: smaller; */
    grid-template-columns: 1fr 1fr 1fr 15% 1rem;
  }
  #filter__wrapper{
    width: 99vw;
  }
  #filter__wrapper p {
    width: 100%;
  }
  .link:hover {
    background-color: rgba(0, 0, 0, 0.356);
    width: 95%;
  }
}

#signup-form{
  padding: 5rem;
  border-radius: 0.3rem;
  display: flex;
  justify-self: center;
  margin: auto;
  flex-direction: column;
  justify-content: space-around;
  width: 20rem !important;
  height: 20rem;
  background-color: rgba(0, 0, 0, 0.521);
  box-shadow: 0rem 0.3rem 1rem 0.3rem rgba(0, 0, 0, 0.486);
}
#signup-form > span > input, button {
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  /* border: inset 0.15rem rgb(120, 187, 167); */
  border: inset 0.15rem #e9cf98;
}
#signup-form > input,
#signin-form > input {
  height: 2rem;
}
#signup-form > span,
#signin-form > span {
  width: 100%;
  display: flex;
  justify-content: space-between;

}
#signup-form span button,
#signin-form span button {
  width: 45%;
  border: 0.1rem solid #ffc671;
  /* border: 0.1rem solid rgb(120, 187, 167); */
  /* background-image: linear-gradient(200deg, rgb(239, 245, 243), rgba(100, 197, 168, 0.267)) !important; */
  background-image: linear-gradient(200deg, rgb(239, 245, 243), #ffc671) !important;
}
#sign-up-wrapper,
#signin-wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
#signin-form{
  padding: 3rem;
  border-radius: 0.3rem;
  display: flex;
  justify-self: center;
  margin: auto;
  flex-direction: column;
  justify-content: space-around;
  width: 20rem !important;
  height: 12rem;
  background-color: rgba(0, 0, 0, 0.521);
  box-shadow: 0rem 0.3rem 1rem 0.3rem rgba(0, 0, 0, 0.486);
}
#keep-signed-in, #keep-signed-in *{
  justify-content: unset !important;
  margin: 0.5rem 1rem 0.5rem 0;
  color: white;
  display: flex;
  align-items: center;
}
#loading{
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
#loading h1{
  margin: auto;
  font-size: 5rem;
}
#more-info-ellipses{
  display: none;
  flex-direction: column;
  height: 80%;
  width: 0.5rem;
  justify-content: space-evenly;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  align-items: center;
  align-content: center;
  transition: 0.3s all ease;
  cursor: pointer;
}
#more-info-ellipses > span {
  color: white;
  font-size: 0.4rem;
  transition: 0.2s all ease;

}
#more-info-ellipses:hover > span 
{
  color: #fcd37d;
  transform: scale(1.3);
}
.link:hover > #more-info-ellipses {
  display: flex;
}